.mediaViewInfo {
	--web-view-name: Historical Article;
	--web-view-id: Historical_Article;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Historical_Article;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Historical_Article_Class {
	position: absolute;
	width: 1920px;
	height: 2152px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Historical Article;
	--web-view-id: Historical_Article;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes  {


}
@keyframes  {


}
.historical_article_26_Class {
	position: absolute;
	width: 1920px;
	height: 1146px;
	left: 0px;
	top: 1006px;
	overflow: visible;
}
.historical_article_15_Class {
	position: absolute;
	width: 1920px;
	height: 1159px;
	left: 0px;
	top: -83px;
	overflow: visible;
}
.background_Class {
	fill: rgba(40,94,166,1);
}
.background {
	position: absolute;
	overflow: visible;
	width: 1923px;
	height: 2152px;
	left: 1px;
	top: 0px;
}
.About_Us_Button_Class {
	position: absolute;
	width: 288px;
	height: 65px;
	left: 179px;
	top: 44px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: About_Us.html;
	cursor: pointer;
}
.About_Us_Button__Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.About_Us_Button_ {
	position: absolute;
	overflow: visible;
	width: 288px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.About_Us_Class {
	left: 88.988px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Education_Button_Class {
	position: absolute;
	width: 255px;
	height: 65px;
	left: 467px;
	top: 44px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Education.html;
	cursor: pointer;
}
.Education_Button_bb_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Education_Button_bb {
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Education_Class {
	left: 67px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Events_Button_Class {
	position: absolute;
	width: 237px;
	height: 65px;
	left: 721px;
	top: 44px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Events_Calendar.html;
	cursor: pointer;
}
.Events_Button_be_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Events_Button_be {
	position: absolute;
	overflow: visible;
	width: 237px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Events_Class {
	left: 78.988px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Media_Button_Class {
	position: absolute;
	width: 211px;
	height: 65px;
	left: 958px;
	top: 44px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: Media.html;
	cursor: pointer;
}
.Media_Button_bh_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Media_Button_bh {
	position: absolute;
	overflow: visible;
	width: 211px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Media_Class {
	left: 68px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Membership_Button_Class {
	position: absolute;
	width: 223px;
	height: 65px;
	left: 1169px;
	top: 44px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: Membership.html;
	cursor: pointer;
}
.Membership_Button_bk_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Membership_Button_bk {
	position: absolute;
	overflow: visible;
	width: 223px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Membership_Class {
	left: 35px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Support_Button_Class {
	position: absolute;
	width: 212px;
	height: 65px;
	left: 1391px;
	top: 44px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: Support.html;
	cursor: pointer;
}
.Support_Button_bn_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Support_Button_bn {
	position: absolute;
	overflow: visible;
	width: 212px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Support_Class {
	left: 57px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Research_Button_Class {
	position: absolute;
	width: 286px;
	height: 65px;
	left: 1602px;
	top: 44px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: Research.html;
	cursor: pointer;
}
.Research_Button_bq_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Research_Button_bq {
	position: absolute;
	overflow: visible;
	width: 286px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Research_Class {
	left: 87.5px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Home_Button_Class {
	position: absolute;
	width: 120px;
	height: 122px;
	left: 24px;
	top: 16px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
.LogoHome_Button_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(72,118,178,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.LogoHome_Button {
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 118px;
	left: 1px;
	top: 2px;
}
.fhs_logo_Class {
	position: absolute;
	width: 120px;
	height: 122px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_184_Class {
	fill: rgba(115,149,191,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_184 {
	position: absolute;
	overflow: visible;
	width: 761px;
	height: 103px;
	left: 580px;
	top: 197px;
}
.Rectangle_295_Class {
	fill: rgba(115,149,191,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_295 {
	position: absolute;
	overflow: visible;
	width: 1108px;
	height: 103px;
	left: 400px;
	top: 1123px;
}
.Rectangle_294_Class {
	fill: rgba(115,149,191,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_294 {
	position: absolute;
	overflow: visible;
	width: 620px;
	height: 156px;
	left: 55px;
	top: 850px;
}
.Florida_Frontier_Pearl_Harbors_Class {
	left: 692px;
	top: 203px;
	position: absolute;
	overflow: visible;
	width: 533px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(0,0,0,1);
}
.Learn_More_About_History_Class {
	left: 716px;
	top: 1152px;
	position: absolute;
	overflow: visible;
	width: 451px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(0,0,0,1);
}
.La_Paz_December_6_1976_Class {
	left: 166px;
	top: 905px;
	position: absolute;
	overflow: visible;
	width: 399px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	color: rgba(0,0,0,1);
}
.Florida_Orange_Origins_Class {
	position: absolute;
	width: 762px;
	height: 415px;
	left: 55px;
	top: 1252px;
	overflow: visible;
}
.Rectangle_288_Class {
	fill: rgba(115,149,191,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_288 {
	position: absolute;
	overflow: visible;
	width: 761px;
	height: 63px;
	left: 0px;
	top: 0px;
}
.Inspirational_Black_Women_in_F_Class {
	left: 49px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 627px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(0,0,0,1);
}
.inspirational_black_women_Class {
	position: absolute;
	width: 762px;
	height: 352px;
	left: 0px;
	top: 63px;
	overflow: visible;
}
.la_paz_Class {
	position: absolute;
	width: 621px;
	height: 529px;
	left: 55px;
	top: 321px;
	overflow: visible;
}
.The_Start_of_Something_New_Class {
	position: absolute;
	width: 762px;
	height: 415px;
	left: 1064px;
	top: 1713px;
	overflow: visible;
}
.Rectangle_291_Class {
	fill: rgba(115,149,191,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_291 {
	position: absolute;
	overflow: visible;
	width: 761px;
	height: 63px;
	left: 1px;
	top: 0px;
}
.A_History_of_Spring_Break_in_F_Class {
	left: 86px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 593px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(0,0,0,1);
}
.spring_break_Class {
	position: absolute;
	width: 762px;
	height: 352px;
	left: 0px;
	top: 63px;
	overflow: visible;
}
.The_Beginnings_of_Ocoee_Class {
	position: absolute;
	width: 762px;
	height: 415px;
	left: 1064px;
	top: 1252px;
	overflow: visible;
}
.Rectangle_290_Class {
	fill: rgba(115,149,191,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_290 {
	position: absolute;
	overflow: visible;
	width: 761px;
	height: 63px;
	left: 1px;
	top: 0px;
}
.Chicago_Cubs_Central_Florida_C_Class {
	left: 23px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 719px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(0,0,0,1);
}
.chicago_cubs_Class {
	position: absolute;
	width: 762px;
	height: 352px;
	left: 0px;
	top: 63px;
	overflow: visible;
}
.Wait_Disneys_Dream_Turned_Real_Class {
	position: absolute;
	width: 762px;
	height: 415px;
	left: 55px;
	top: 1713px;
	overflow: visible;
}
.Rectangle_289_Class {
	fill: rgba(115,149,191,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_289 {
	position: absolute;
	overflow: visible;
	width: 761px;
	height: 63px;
	left: 0px;
	top: 0px;
}
.The_presidential_campaigns_com_Class {
	left: 7px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 749px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(0,0,0,1);
}
.presential_campaigns_Class {
	position: absolute;
	width: 762px;
	height: 352px;
	left: 0px;
	top: 63px;
	overflow: visible;
}
.Rectangle_293_Class {
	fill: rgba(175,194,218,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_293 {
	position: absolute;
	overflow: visible;
	width: 1166px;
	height: 685px;
	left: 731px;
	top: 328px;
}
.The_Monday_December_8_1941_Orl_Class {
	left: 757px;
	top: 423px;
	position: absolute;
	overflow: visible;
	width: 1115px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}