.mediaViewInfo {
	--web-view-name: Database/Collection;
	--web-view-id: DatabaseCollection;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: DatabaseCollection;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.DatabaseCollection_Class {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Database/Collection;
	--web-view-id: DatabaseCollection;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes  {


}
@keyframes  {


}
.research_236_Class {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.background_Class {
	fill: rgba(40,94,166,1);
}
.background {
	position: absolute;
	overflow: visible;
	width: 1923px;
	height: 1076px;
	left: 5px;
	top: 6px;
}
.About_Us_Button_Class {
	position: absolute;
	width: 288px;
	height: 65px;
	left: 180px;
	top: 36px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: About_Us.html;
	cursor: pointer;
}
.About_Us_Button__Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.About_Us_Button_ {
	position: absolute;
	overflow: visible;
	width: 288px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.About_Us_Class {
	left: 88.989px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Education_Button_Class {
	position: absolute;
	width: 255px;
	height: 65px;
	left: 468px;
	top: 36px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Education.html;
	cursor: pointer;
}
.Education_Button_ba_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Education_Button_ba {
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Education_Class {
	left: 67px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Events_Button_Class {
	position: absolute;
	width: 238px;
	height: 65px;
	left: 722px;
	top: 36px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Events_Calendar.html;
	cursor: pointer;
}
.Events_Button_bd_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Events_Button_bd {
	position: absolute;
	overflow: visible;
	width: 238px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Events_Class {
	left: 79.49px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Media_Button_Class {
	position: absolute;
	width: 212px;
	height: 65px;
	left: 960px;
	top: 36px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: Media.html;
	cursor: pointer;
}
.Media_Button_bg_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Media_Button_bg {
	position: absolute;
	overflow: visible;
	width: 212px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Media_Class {
	left: 68.5px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Membership_Button_Class {
	position: absolute;
	width: 223px;
	height: 65px;
	left: 1172px;
	top: 36px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: Membership.html;
	cursor: pointer;
}
.Membership_Button_bj_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Membership_Button_bj {
	position: absolute;
	overflow: visible;
	width: 223px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Membership_Class {
	left: 35px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Support_Button_Class {
	position: absolute;
	width: 210px;
	height: 65px;
	left: 1395px;
	top: 36px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: Support.html;
	cursor: pointer;
}
.Support_Button_bm_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Support_Button_bm {
	position: absolute;
	overflow: visible;
	width: 210px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Support_Class {
	left: 56px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Research_Button_Class {
	position: absolute;
	width: 286px;
	height: 65px;
	left: 1605px;
	top: 36px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: Research.html;
	cursor: pointer;
}
.Research_Button_bp_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Research_Button_bp {
	position: absolute;
	overflow: visible;
	width: 286px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Research_Class {
	left: 87.5px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Home_Button_Class {
	position: absolute;
	width: 120px;
	height: 122px;
	left: 25px;
	top: 8px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
.LogoHome_Button_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(72,118,178,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.LogoHome_Button {
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 118px;
	left: 1px;
	top: 2px;
}
.fhs_logo_Class {
	position: absolute;
	width: 120px;
	height: 122px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_189_Class {
	fill: rgba(115,149,191,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_189 {
	position: absolute;
	overflow: visible;
	width: 528px;
	height: 69px;
	left: 696px;
	top: 155px;
}
.Rectangle_149_Class {
	fill: rgba(175,194,218,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_149 {
	position: absolute;
	overflow: visible;
	width: 1823px;
	height: 459px;
	left: 55px;
	top: 540px;
}
.Rectangle_145_Class {
	fill: rgba(175,194,218,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_145 {
	position: absolute;
	overflow: visible;
	width: 1823px;
	height: 81px;
	left: 55px;
	top: 263px;
}
.Rectangle_150_Class {
	fill: rgba(175,194,218,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_150 {
	position: absolute;
	overflow: visible;
	width: 1823px;
	height: 81px;
	left: 55px;
	top: 377px;
}
.Online_Database_Class {
	left: 761px;
	top: 157px;
	position: absolute;
	overflow: visible;
	width: 399px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.Search_Class {
	left: 85px;
	top: 271px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 55px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.Filters_Class {
	left: 93px;
	top: 385px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	line-height: 55px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.Line_1_Class {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 81px;
	left: 261.5px;
	top: 263.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_2_Class {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 81px;
	left: 261.5px;
	top: 377.5px;
	transform: matrix(1,0,0,1,0,0);
}
.No_Search_Results_Class {
	left: 76px;
	top: 556px;
	position: absolute;
	overflow: visible;
	width: 305px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(0,0,0,1);
}