.mediaViewInfo {
	--web-view-name: Events/Calendar;
	--web-view-id: EventsCalendar;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: EventsCalendar;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.EventsCalendar_Class {
	position: absolute;
	width: 1920px;
	height: 1798px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Events/Calendar;
	--web-view-id: EventsCalendar;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes  {


}
.calendar22_Class {
	position: absolute;
	width: 1920px;
	height: 1797px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.background_Class {
	fill: rgba(40,94,166,1);
}
.background {
	position: absolute;
	overflow: visible;
	width: 1923px;
	height: 1809px;
	left: 1px;
	top: -12px;
}
.About_Us_Button_Class {
	position: absolute;
	width: 289px;
	height: 81px;
	left: 176px;
	top: 59px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: About_Us.html;
	cursor: pointer;
}
.About_Us_Button__Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.About_Us_Button_ {
	position: absolute;
	overflow: visible;
	width: 289px;
	height: 81px;
	left: 0px;
	top: 0px;
}
.About_Us_Class {
	left: 89.492px;
	top: 23.276px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Education_Button_Class {
	position: absolute;
	width: 255px;
	height: 81px;
	left: 465px;
	top: 59px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Education.html;
	cursor: pointer;
}
.Education_Button_ba_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Education_Button_ba {
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 81px;
	left: 0px;
	top: 0px;
}
.Education_Class {
	left: 67px;
	top: 23.276px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Events_Button_Class {
	position: absolute;
	width: 237px;
	height: 81px;
	left: 720px;
	top: 59px;
	overflow: visible;
}
.Events_Button_bd_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Events_Button_bd {
	position: absolute;
	overflow: visible;
	width: 237px;
	height: 81px;
	left: 0px;
	top: 0px;
}
.Events_Class {
	left: 78.987px;
	top: 23.276px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Media_Button_Class {
	position: absolute;
	width: 210px;
	height: 81px;
	left: 957px;
	top: 59px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: Media.html;
	cursor: pointer;
}
.Media_Button_bg_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Media_Button_bg {
	position: absolute;
	overflow: visible;
	width: 210px;
	height: 81px;
	left: 0px;
	top: 0px;
}
.Media_Class {
	left: 67.5px;
	top: 23.276px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Membership_Button_Class {
	position: absolute;
	width: 221px;
	height: 81px;
	left: 1167px;
	top: 59px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: Membership.html;
	cursor: pointer;
}
.Membership_Button_bj_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Membership_Button_bj {
	position: absolute;
	overflow: visible;
	width: 221px;
	height: 81px;
	left: 0px;
	top: 0px;
}
.Membership_Class {
	left: 33.985px;
	top: 23.276px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Support_Button_Class {
	position: absolute;
	width: 208px;
	height: 81px;
	left: 1388px;
	top: 59px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: Support.html;
	cursor: pointer;
}
.Support_Button_bm_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Support_Button_bm {
	position: absolute;
	overflow: visible;
	width: 208px;
	height: 81px;
	left: 0px;
	top: 0px;
}
.Support_Class {
	left: 55px;
	top: 23.276px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Research_Button_Class {
	position: absolute;
	width: 289px;
	height: 81px;
	left: 1596px;
	top: 59px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: Research.html;
	cursor: pointer;
}
.Research_Button_bp_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Research_Button_bp {
	position: absolute;
	overflow: visible;
	width: 289px;
	height: 81px;
	left: 0px;
	top: 0px;
}
.Research_Class {
	left: 89px;
	top: 23.276px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Home_Button_Class {
	position: absolute;
	width: 120px;
	height: 122px;
	left: 25px;
	top: 39px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
.LogoHome_Button_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(72,118,178,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.LogoHome_Button {
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 118px;
	left: 1px;
	top: 2px;
}
.fhs_logo_Class {
	position: absolute;
	width: 120px;
	height: 122px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_279_Class {
	fill: rgba(115,149,191,1);
}
.Rectangle_279 {
	position: absolute;
	overflow: visible;
	width: 1854px;
	height: 97px;
	left: 31px;
	top: 510px;
}
.Rectangle_280_Class {
	fill: rgba(175,194,218,1);
}
.Rectangle_280 {
	position: absolute;
	overflow: visible;
	width: 1854px;
	height: 1138px;
	left: 31px;
	top: 606px;
}
.Line_9_Class {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_9 {
	overflow: visible;
	position: absolute;
	width: 6px;
	height: 1234.007px;
	left: 300.5px;
	top: 510.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_15_Class {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_15 {
	overflow: visible;
	position: absolute;
	width: 1858px;
	height: 2px;
	left: 27.5px;
	top: 1063.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_16_Class {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_16 {
	overflow: visible;
	position: absolute;
	width: 1858px;
	height: 2px;
	left: 31px;
	top: 1519.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_17_Class {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_17 {
	overflow: visible;
	position: absolute;
	width: 1858px;
	height: 2px;
	left: 31px;
	top: 1291.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_18_Class {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_18 {
	overflow: visible;
	position: absolute;
	width: 1858px;
	height: 2px;
	left: 31px;
	top: 835.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_10_Class {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10 {
	overflow: visible;
	position: absolute;
	width: 4px;
	height: 1234.003px;
	left: 1649.5px;
	top: 510.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_11_Class {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 1234px;
	left: 1388.5px;
	top: 510.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_12_Class {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12 {
	overflow: visible;
	position: absolute;
	width: 4px;
	height: 1234.003px;
	left: 1125.5px;
	top: 510.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_13_Class {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_13 {
	overflow: visible;
	position: absolute;
	width: 4px;
	height: 1234.003px;
	left: 850.5px;
	top: 510.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_14_Class {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_14 {
	overflow: visible;
	position: absolute;
	width: 4px;
	height: 1234.003px;
	left: 575.5px;
	top: 510.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_19_Class {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_19 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 107px;
	left: 1243.5px;
	top: 229.5px;
	transform: matrix(1,0,0,1,0,0);
}
.n__Class {
	left: 262px;
	top: 607px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n__b_Class {
	left: 537px;
	top: 607px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_1_Class {
	left: 785px;
	top: 1520px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_0_Class {
	left: 510px;
	top: 1519px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_9_Class {
	left: 235px;
	top: 1520px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_8_Class {
	left: 1821px;
	top: 1293px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_7_Class {
	left: 1581px;
	top: 1292px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_6_Class {
	left: 1320px;
	top: 1291px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_5_Class {
	left: 1060px;
	top: 1293px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_4_Class {
	left: 785px;
	top: 1292px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_3_Class {
	left: 510px;
	top: 1292px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_2_Class {
	left: 236px;
	top: 1292px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_1_cj_Class {
	left: 1823px;
	top: 1063px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_0_ck_Class {
	left: 1581px;
	top: 1064px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_9_cl_Class {
	left: 1320px;
	top: 1063px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_8_cm_Class {
	left: 1060px;
	top: 1063px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_7_cn_Class {
	left: 785px;
	top: 1064px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_6_co_Class {
	left: 510px;
	top: 1064px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_5_cp_Class {
	left: 235px;
	top: 1064px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_4_cq_Class {
	left: 1822px;
	top: 834px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_3_cr_Class {
	left: 1588px;
	top: 834px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_2_cs_Class {
	left: 1320px;
	top: 834px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_1_ct_Class {
	left: 1073px;
	top: 834px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n_0_cu_Class {
	left: 785px;
	top: 834px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n__cv_Class {
	left: 537px;
	top: 834px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n__cw_Class {
	left: 262px;
	top: 834px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n__cx_Class {
	left: 1849px;
	top: 606px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n__cy_Class {
	left: 1615px;
	top: 606px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n__cz_Class {
	left: 1347px;
	top: 606px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n__c_Class {
	left: 1087px;
	top: 608px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.n__da_Class {
	left: 812px;
	top: 606px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
.Sunday_Class {
	left: 84px;
	top: 529px;
	position: absolute;
	overflow: visible;
	width: 156px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(0,0,0,1);
}
.Saturday_Class {
	left: 1684px;
	top: 529px;
	position: absolute;
	overflow: visible;
	width: 188px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(0,0,0,1);
}
.Friday_Class {
	left: 1447px;
	top: 529px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(0,0,0,1);
}
.Thursday_Class {
	left: 1165px;
	top: 529px;
	position: absolute;
	overflow: visible;
	width: 196px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(0,0,0,1);
}
.Wednesday_Class {
	left: 867px;
	top: 529px;
	position: absolute;
	overflow: visible;
	width: 245px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(0,0,0,1);
}
.Tuesday_Class {
	left: 626px;
	top: 529px;
	position: absolute;
	overflow: visible;
	width: 176px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(0,0,0,1);
}
.Monday_Class {
	left: 355px;
	top: 529px;
	position: absolute;
	overflow: visible;
	width: 172px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(0,0,0,1);
}
.Component_32__1_Class {
	position: absolute;
	width: 744px;
	height: 107px;
	left: 616px;
	top: 229px;
	overflow: visible;
}
.Rectangle_278_Class {
	fill: rgba(115,149,191,1);
}
.Rectangle_278 {
	position: absolute;
	overflow: visible;
	width: 744px;
	height: 107px;
	left: 0px;
	top: 0px;
}
.October_2022_Class {
	left: 767px;
	top: 248px;
	position: absolute;
	overflow: visible;
	width: 342px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
	text-transform: uppercase;
}
.arrow_Class {
	position: absolute;
	width: 66px;
	height: 61px;
	left: 1268.5px;
	top: 251.5px;
	overflow: visible;
}
.Line_20_Class {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_20 {
	overflow: visible;
	position: absolute;
	width: 34.759px;
	height: 61.952px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_21_Class {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_21 {
	overflow: visible;
	position: absolute;
	width: 34.759px;
	height: 61.952px;
	left: 33px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Component_33__1_Class {
	position: absolute;
	width: 117px;
	height: 106px;
	left: 1244px;
	top: 230px;
	overflow: visible;
}
.Rectangle_296_Class {
	fill: rgba(255,255,255,0);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_296 {
	position: absolute;
	overflow: visible;
	width: 117px;
	height: 106px;
	left: 0px;
	top: 0px;
}