body{
    background-color: #285EA6;
    font-family: sans-serif;
}
nav {
  width: 100%;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #102541;
  display: inline-block;
}

.logo{
  float:left;
}
li {
  float: left;
  text-align: center;
  padding: 10px 20px 30px 40px;;
}

li a {
  display: block;
  color: rgb(231, 246, 250);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(0, 128, 255);
}
/*Welcome intro*/
.grid-item-welcome {
  background-color: #7395BF;
  text-align: center;
  padding: 1px;
  margin: 20px;
}


a img:hover {
  opacity: 0.5;
  filter: alpha(opacity=40);
}

.standard-text{
    background-color:#7395BF;
    text-align: center;
}
.contact{
    background-color:#7395BF;
    text-align:center;
}
.grid-container-contact{
    background-color: #7395BF;
    text-align: center;
}
.grid-item-hours{
    background-color: #7395BF;
    text-align: center;
    float: left;
    width: 50%;
}
.grid-item-address{
    background-color: #7395BF;
    text-align: center;
    float: right;
    width: 50%;
}
footer{
  width: 100%;
  background: #a8bbd3;
  text-align: center;
}
.affiliates{
  background-color:#7395BF;
  text-align:center;
}
.grid-container-affiliates{
  display: grid;
  grid-template-columns: auto auto;
  background-color: #285EA6;
  padding: 10px;
  grid-gap: 5px;
}
.grid-container-affiliates2{
  display: grid;
  grid-template-columns: auto auto;
  background-color: #285EA6;
  padding: 10px;
  grid-gap: 5px;
}
.grid-item-4{
  background-color: #7395BF;
  text-align: center;
  padding: 20px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}