.mediaViewInfo {
	--web-view-name: Rossetter House Museum;
	--web-view-id: Rossetter_House_Museum;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Rossetter_House_Museum;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Rossetter_House_Museum_Class {
	position: absolute;
	width: 1920px;
	height: 2036px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Rossetter House Museum;
	--web-view-id: Rossetter_House_Museum;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes  {


}
@keyframes  {


}
.rossetter_213_Class {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 957px;
	overflow: visible;
}
.rossetter_112_Class {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 1px;
	overflow: visible;
}
.Rectangle_49_Class {
	fill: rgba(40,94,166,1);
}
.Rectangle_49 {
	position: absolute;
	overflow: visible;
	width: 1923px;
	height: 2159px;
	left: -1px;
	top: 0px;
}
.Rectangle_39_Class {
	fill: rgba(115,149,191,1);
	stroke: rgba(48,92,151,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_39 {
	position: absolute;
	overflow: visible;
	width: 991px;
	height: 96px;
	left: 464px;
	top: 167px;
}
.About_Us_Button_Class {
	position: absolute;
	width: 290px;
	height: 65px;
	left: 178px;
	top: 43px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: About_Us.html;
	cursor: pointer;
}
.About_Us_Button__Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.About_Us_Button_ {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.About_Us_Class {
	left: 89.995px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Education_Button_Class {
	position: absolute;
	width: 255px;
	height: 65px;
	left: 468px;
	top: 43px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Education.html;
	cursor: pointer;
}
.Education_Button_bc_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Education_Button_bc {
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Education_Class {
	left: 67px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Events_Button_Class {
	position: absolute;
	width: 237px;
	height: 65px;
	left: 723px;
	top: 43px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Events_Calendar.html;
	cursor: pointer;
}
.Events_Button_bf_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Events_Button_bf {
	position: absolute;
	overflow: visible;
	width: 237px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Events_Class {
	left: 78.987px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Media_Button_Class {
	position: absolute;
	width: 213px;
	height: 65px;
	left: 960px;
	top: 43px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: Media.html;
	cursor: pointer;
}
.Media_Button_bi_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Media_Button_bi {
	position: absolute;
	overflow: visible;
	width: 213px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Media_Class {
	left: 69px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Membership_Button_Class {
	position: absolute;
	width: 221px;
	height: 65px;
	left: 1173px;
	top: 43px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: Membership.html;
	cursor: pointer;
}
.Membership_Button_bl_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Membership_Button_bl {
	position: absolute;
	overflow: visible;
	width: 221px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Membership_Class {
	left: 33.985px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Support_Button_Class {
	position: absolute;
	width: 212px;
	height: 65px;
	left: 1394px;
	top: 43px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: Support.html;
	cursor: pointer;
}
.Support_Button_bo_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Support_Button_bo {
	position: absolute;
	overflow: visible;
	width: 212px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Support_Class {
	left: 57px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Research_Button_Class {
	position: absolute;
	width: 286px;
	height: 65px;
	left: 1606px;
	top: 43px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: Research.html;
	cursor: pointer;
}
.Research_Button_br_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Research_Button_br {
	position: absolute;
	overflow: visible;
	width: 286px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Research_Class {
	left: 87.5px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Home_Button_Class {
	position: absolute;
	width: 120px;
	height: 122px;
	left: 25px;
	top: 15px;
	overflow: visible;
	--web-animation: fadein 0s linear;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
.LogoHome_Button_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(72,118,178,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.LogoHome_Button {
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 118px;
	left: 1px;
	top: 2px;
}
.fhs_logo_Class {
	position: absolute;
	width: 120px;
	height: 122px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rossetter_House_Museum_bw_Class {
	left: 743px;
	top: 192px;
	position: absolute;
	overflow: visible;
	width: 435px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(0,0,0,1);
}
.rosseterhouse_Class {
	position: absolute;
	width: 1664px;
	height: 693px;
	left: 113px;
	top: 325px;
	overflow: visible;
}
.Rectangle_41_Class {
	fill: rgba(115,149,191,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_41 {
	position: absolute;
	overflow: visible;
	width: 729px;
	height: 100px;
	left: 596px;
	top: 1108px;
}
.More_Information_Class {
	left: 808px;
	top: 1135px;
	position: absolute;
	overflow: visible;
	width: 305px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(0,0,0,1);
}
.Foundation_Button_Class {
	position: absolute;
	width: 838px;
	height: 140px;
	left: 57px;
	top: 1268px;
	overflow: visible;
}
.Rectangle_42_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_42 {
	position: absolute;
	overflow: visible;
	width: 838px;
	height: 140px;
	left: 0px;
	top: 0px;
}
.Foundation_Class {
	left: 322px;
	top: 47px;
	position: absolute;
	overflow: visible;
	width: 195px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(255,255,255,1);
}
.Tours_Button_Class {
	position: absolute;
	width: 838px;
	height: 140px;
	left: 57px;
	top: 1440px;
	overflow: visible;
}
.Rectangle_43_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_43 {
	position: absolute;
	overflow: visible;
	width: 838px;
	height: 140px;
	left: 0px;
	top: 0px;
}
.Tours_Class {
	left: 371px;
	top: 47px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(255,255,255,1);
}
.Rental_Button_Class {
	position: absolute;
	width: 838px;
	height: 140px;
	left: 57px;
	top: 1612px;
	overflow: visible;
}
.Rectangle_44_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_44 {
	position: absolute;
	overflow: visible;
	width: 838px;
	height: 140px;
	left: 0px;
	top: 0px;
}
.Rental_Class {
	left: 364px;
	top: 47px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(255,255,255,1);
}
.History_Button_Class {
	position: absolute;
	width: 838px;
	height: 140px;
	left: 57px;
	top: 1784px;
	overflow: visible;
}
.Rectangle_45_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_45 {
	position: absolute;
	overflow: visible;
	width: 838px;
	height: 140px;
	left: 0px;
	top: 0px;
}
.History_Class {
	left: 357px;
	top: 47px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(255,255,255,1);
}
.FAQ_Button_Class {
	position: absolute;
	width: 838px;
	height: 140px;
	left: 993px;
	top: 1268px;
	overflow: visible;
}
.Rectangle_46_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_46 {
	position: absolute;
	overflow: visible;
	width: 838px;
	height: 140px;
	left: 0px;
	top: 0px;
}
.FAQ_Class {
	left: 384px;
	top: 47px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(255,255,255,1);
}
.Contact_Button_Class {
	position: absolute;
	width: 838px;
	height: 140px;
	left: 993px;
	top: 1440px;
	overflow: visible;
}
.Rectangle_47_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_47 {
	position: absolute;
	overflow: visible;
	width: 838px;
	height: 140px;
	left: 0px;
	top: 0px;
}
.Contact_Class {
	left: 353px;
	top: 47px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(255,255,255,1);
}
.Website_Button_Class {
	position: absolute;
	width: 838px;
	height: 140px;
	left: 993px;
	top: 1612px;
	overflow: visible;
}
.Rectangle_48_Class {
	fill: rgba(16,37,65,1);
	stroke: rgba(40,94,166,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_48 {
	position: absolute;
	overflow: visible;
	width: 838px;
	height: 140px;
	left: 0px;
	top: 0px;
}
.Website_Class {
	left: 351px;
	top: 47px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(255,255,255,1);
}